<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.ffmpeg.commandline"
        version="0.7.0">

  <name>FFMPEG Commandline Plugin</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/FFMPEGCommandline.js" target="js/FFMPEGCommandline.js"/>

  <js-module src="www/FFMPEGCommandline.js" name="hello">
    <clobbers target="FFMPEGCommandline" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="FFMPEGCommandline">
        <param name="android-package" value="com.ffmpeg.commandline.FFMPEGCommandline"/>
      </feature>
    </config-file>

    <source-file src="src/android/FFMPEGCommandline.java" target-dir="src/com/ffmpeg/commandline/"/>
    <source-file src="src/android/ShellUtils.java" target-dir="src/com/ffmpeg/commandline"/>
    <source-file src="src/android/FFMPEGWrapper.java" target-dir="src/com/ffmpeg/commandline"/>
    <source-file src="src/android/BinaryInstaller.java" target-dir="src/com/ffmpeg/commandline"/>
    <resource-file src="res/raw/ffmpeg" target="res/raw/ffmpeg" />
  </platform>

</plugin>